.install-steps li {
	width: 33%;
	padding: 10px 15px;
	font-weight: bold;
	color: #eee;
	background: #222222;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.install-steps li.step-bar-active {
	background: #0074a2;
}

.install-steps li:first-child {
	margin-left: 0;
}

.rp4wp-install-link-box {
	display: inline;
	padding: 15px;
	border: 1px solid #0074a2;
}

.rp4wp-step .rp4wp-install-link-box label {
	padding-right: 20px;
}

.rp4wp-step .rp4wp-install-link-box input {
	width: 40px;
	text-align: center;
}

.rp4wp-step .rp4wp-install-link-box a.rp4wp-link-now-btn {
	margin-left: 20px;
	margin-right: 10px;
}

.rp4wp-step-2 #progressbar {
	margin-top: 30px;
}