.rp4wp-content {
	width: 65%;
	float: left;
	box-sizing: border-box;
}

.rp4wp-sidebar {
	width: 33%;
	margin-left: 2%;
	padding: 0 0 0 2%;
	border-left: 1px solid #ccc;
	float: left;
	box-sizing: border-box;
}

.rp4wp-box {
	margin-bottom: 20px;
}

.rp4wp-sidebar-header {
	line-height: 0;
	border-bottom: 2px solid #005592;
}

.rp4wp-description {
	display: block;
	margin: 5px 0;
	line-height: 1.4em;
	color: #666;
	font-style: italic;
}
